<!-- Navigation -->
<nav class="nav-wrap">
	<a href="{{ site.baseurl }}/" class="nav-logo"></a>
	<ul class="navigation {% if page.url=='/' %}nav-dark{% endif %}">
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
		<li><a href="{{ site.baseurl }}/projects">Projects</a></li>
		<li><a href="{{ site.baseurl }}/other">Other</a></li>
	</ul>
	<!-- Mobile Navigation -->
	<div class="nav-toggle-open-wrapper {% if page.url=='/' %}nav-dark{% endif %}">
		<?xml version="1.0" encoding="utf-8"?>
	    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
	    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="18px" viewBox="0 0 24 18" enable-background="new 0 0 24 18" xml:space="preserve">
	      <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0" y1="9" x2="24" y2="9"/>
	      <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0" y1="1" x2="24" y2="1"/>
	      <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0" y1="17" x2="24" y2="17"/>
	    </svg>
	</div>
	<div class="nav-toggle-body-overlay"></div>
	<div class="toggled-nav-wrapper">
		<div class="nav-toggle-close-wrapper">
			<?xml version="1.0" encoding="utf-8"?>
		    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
		    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.385px" height="18.385px" viewBox="0 0 18.385 18.385" enable-background="new 0 0 18.385 18.385" xml:space="preserve">
		        <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0.707" y1="17.678" x2="17.678" y2="0.707"/>
		        <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0.707" y1="0.707" x2="17.678" y2="17.678"/>
		    </svg>
		</div>
		<div class="internal-nav-links-wrapper">
			<a href="{{ site.baseurl }}/" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Home</h5><small>About This Site</small></div><div class="internal-link-icon internal-link-icon-home"></div></a>
			<a href="{{ site.baseurl }}/blog" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Blog</h5><small>My blog on mathematics.</small></div><div class="internal-link-icon internal-link-icon-blog"></div></a>
			<a href="{{ site.baseurl }}/projects" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Projects</h5><small>My projects.</small></div><div class="internal-link-icon internal-link-icon-projects"></div></a>
			<a href="{{ site.baseurl }}/other" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Other</h5><small>Some non-blogworthy posts.</small></div><div class="internal-link-icon internal-link-icon-other"></div></a>
		</div>
		<hr>
		<div class="external-links-wrapper">
			<a href="{{ site.github_path }}" target="_blank" class="external-link-wrapper"><h6>GitHub</h6></a><div class="external-link-icon external-link-icon-github"></div>
			<a href="{{ site.linkedin_path }}" target="_blank" class="external-link-wrapper"><h6>LinkedIn</h6></a><div class="external-link-icon external-link-icon-linkedin"></div>
		</div>
	</div>
</nav>
<!-- End navigation -->